# Ignore build directory
build/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore IDE/editor config files
.vscode/
.idea/

# Ignore compiled files
*.o
*.out
*.exe
*.dll
*.so
*.dylib

run.sh
upload.sh